//////////////////////
// Estilos Globales //
//////////////////////

// Header, Footer y componentes globales.
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark;
    color: $gris;
    font-family: $sans;
    font-size: 1rem;
    scroll-behavior: smooth;
}

h1 {
    font-family: $display;
    color: $bone;
}

h2,
h3 {
    font-family: $serif;
    text-transform: uppercase;
    color: $naranja;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
}

p {
    margin-bottom: 0;
    font-weight: 300;
}

p.enfasis {
    font-size: 1.3rem;
    font-weight: 100;
    margin: 0;
    color: $light;
}

a {
    text-decoration: none;
}

button {
    background: none;
}

.navigation {
    color: $light;
    opacity: 0.8;
    transition: $transition;

    &:hover {
        opacity: 1;
    }
}

.box {
    box-shadow: $shadow;
    padding: 2rem;
}

.header {
    background-color: unset;
    transition: $transition;

    .navbar {
        .logo {
            margin-left: 1rem;
            padding: 1rem 0;
            margin-bottom: 0.5rem;

            img {
                height: 70px;
            }
        }

        .navbar-nav {
            margin-left: 1rem;

            .nav-link {
                font-family: $serif;
                font-weight: 400;
                text-transform: uppercase;
            }

            .navRedes {
                .nav-link {
                    display: inline-block;
                    margin: 0 0.8rem 0 0;
                }
            }
        }

        .navbar-toggler {
            font-size: 2rem;

            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
            }
        }

        .logo,
        .navbar-nav .nav-link,
        .navbar-nav .navRedes .nav-link,
        .navbar-toggler {
            @extend .navigation;
        }

        @include respond(md) {
            .logo {
                padding: 1rem 0;
            }
        }

        @include respond(lg) {
            .navbar-collapse {
                display: flex;
                justify-content: flex-end;
            }

            .navbar-nav {
                .nav-link {
                    margin-left: 1rem;
                }

                .navRedes {
                    margin-left: 2rem;

                    .nav-link {
                        margin: 0;
                    }
                }
            }
        }
        @include respond(xl){
            .logo{
                margin-left: 0;
            }
        }
    }
}

.header-color,
footer {
    background-color: $rojo;
    box-shadow: $shadow;
}


.section {
    padding: 5rem 0;

    h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;

        @include respond(md) {
            font-size: 4rem;
            line-height: 4rem;
        }

        @include respond(xxl) {
            font-size: 5rem;
            line-height: 5rem;
        }
    }

    p:not(:last-child){
        margin-bottom: 1rem;
    }

    .sectionHead {
        margin:0 2rem 5rem 2rem;
    }
}

.section-hero {
    min-height: calc(100vh - 125px);
    display: grid;

    @include respond(xl) {
        
        .sectionHead {
            margin:0 2rem 0 2rem;
        }
    }
    @include respond(xxl){
        align-items: center;
    }
}

.section-hero-left{
    padding: 5rem 0 0 0;
    @include respond(xl){
        padding: 5rem 0;
        grid-template-columns: 2fr 4fr;
        .sectionHead{
            text-align: right;
        }
    }
    @include respond(xxl){
        grid-template-columns: 1fr 2fr;
    }
}

.section-hero-right{
    @include respond(xl){
        grid-template-columns: 4fr 2fr;
        .sectionHead{
            grid-column: 2;
            grid-row: 1;
        }
        .sectionBody{
            grid-column: 1;
            grid-row: 1;
        }
    }
    @include respond(xxl){
        grid-template-columns: 2fr 1fr;
    }
}

.section-pattern {
    background-color: $negro;
    background-image: url(../media/pattern.jpg);
    background-repeat: repeat;
    box-shadow: $shadow;
}

.section-action {
    background-color: $dark;
    background-image: url(../media/bg-cta-01.jpg);
    background-blend-mode: soft-light;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5rem 0;

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        text-shadow: 0px 0px 8px $negro;
        margin-bottom: 2rem;
    }
}

footer {
    .footerTop,
    .footerTop .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerTop {
        padding: 1rem 1rem;

        .info a,
        .redes a {
            @extend .navigation;
        }

        .info {
            text-align: center;
            margin-bottom: 1rem;
            color: $light;

            a {
                font-size: 2rem;
            }

            p {
                margin-bottom: 0;
            }
        }

        .redes a {
            font-size: 1.3rem;
            margin: 0 0.5rem;
        }

        @include respond(md) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;

            .info {
                text-align: unset;
                display: flex;
                flex-direction: row;
                margin-bottom: 0;

                a {
                    margin-right: 1rem;
                }
            }
        }
        @include respond(xl){
            padding: 1rem 0;
        }
    }

    .footerBottom {
        background-color: $negro;
        display: block;
        padding: 1rem 1rem;

        .footerBottom-content {
            color: $light;
            font-weight: 300;

            p {
                margin-bottom: 0;
            }

            a {
                @extend .navigation;
                font-size: 2rem;
                margin-left: 1rem;
            }
        }

        @include respond(md) {
            .footerBottom-content {
                padding: 0;
            }
        }
        @include respond(xl){
            padding: 1rem 0;
        }
    }
}

.button {
    border: 1px solid $naranja;
    color: $naranja;
    padding: 0.5rem 0.8rem;
    font-family: $serif;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    transition: $transition;
    white-space: nowrap;
    display: inline-block;

    &:hover {
        background-color: $naranja;
        color: $dark;
        box-shadow: $shadow;
    }
}

.button-secundario {
    border: 2px solid $gris;
    color: $gris;

    &:hover {
        background-color: $gris;
        color: $dark;
        box-shadow: $shadow;
    }
}

.button-gde {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.tag {
    color: $dark;
    background-color: $cyan;
    font-weight: 500;
    font-size: 0.8rem;
}
.curso_body {
    display: flex;
    padding: 2rem;
    flex-direction: column;
}
.curso_datos {
    display: flex;
    gap: 0.6rem;
    justify-content: space-evenly;
    padding-top: 1rem;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $cyan;
        border-radius: 3px;

        span {
            font-weight: 100;
            font-size: 2rem;
        }

        p {
            font-size: 0.8rem;
            font-weight: 500;
        }
    }
}

.imgGaleria {
    display: block;
    overflow: hidden;
    box-shadow: $shadow;
    position: relative;
    background-color: $negro;

    span,
    img {
        transition: $transition;
    }

    span {
        position: absolute;
        z-index: 1;
        bottom: -2rem;
        right: 50%;
        transform: translateX(50%);
        background-color: $dark;
        color: $light;
        padding: 0 0.8rem;
        border-radius: 1rem;
        white-space: nowrap;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        opacity: 0.7;
        transform: translateY(-25%) scale(1.5);
        cursor: pointer;

        @include respond(sm) {
            height: 100%;
            object-fit: cover;
            transform: translateY(0) scale(1.5);
        }
    }

    &:hover span {
        bottom: 1rem;
    }

    &:hover img {
        opacity: 1;
        transform: translateY(-25%) scale(1);

        @include respond(sm) {
            transform: translateY(0) scale(1);
        }
    }
}

.imgGaleria-masonry {
    height: 200px;

    @include respond(sm) {
        height: unset;
    }
}


.modalGaleria {
    .modal-dialog {
        .modal-content {
            background-color: transparent;
            border: none;
            box-shadow: $shadow;
            height: 100%;
        }

        .btn-close {
            padding: 0.5rem 0.5rem;
            color: none;

            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
            }
        }
    }
}