// Colores

$negro: #000000;
$blanco: #ffffff;
$gris: #98adaf;
$grisclaro: #d3d3d3;
$rojo: #DB1A4B;
$naranja: #FFAC41;
$cyan: #82ABC9;
$dark: #252525;
$light: #FDF6E3;
$bone: #c9b797;

// Fuentes

$sans: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;
$display: 'Abril Fatface', cursive;

// Transition

$transition: all 0.3s ease;
$transition-slow: all 0.8s ease;


// Sombras

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);